.header {
  background-color: white;
  padding: 10px 10px 10px 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #87bac3;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}
