.header {
  background-color: #6c757d;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.header h1 {
  margin: 0;
  font-size: 1.8em;
}